# Auto detect text files and perform LF normalization
* text=auto
# Jupyter Notebook dosyalarını tamamen görmezden gel
*.ipynb linguist-vendored=true

# Docker dosyalarını dil grafiğinde kesinlikle algıla ve öne çıkar
Dockerfile linguist-detectable=true
dockerfile linguist-detectable=true
*.dockerfile linguist-detectable=true
